@model String

<div class="border-light bg-transparent">
    <h6><a class="text-light" asp-controller="Profile" asp-action="Modify">@Model</a> </h6>
    <span><a class="text-light" asp-controller="Account" asp-action="Logout">LogOut</a></span>
</div>
