@model String

    <div class="border-light bg-transparent">
        <div><a class="text-light" asp-controller="Profile" asp-action="Modify">@Model</a> </div>
        <span><a class="text-light" asp-controller="Account" asp-action="Logout">LogOut</a></span>
    </div>
