@model PerfectBuild.Models.ViewModels.LoginViewModel
@inject IViewLocalizer Localizer
<div class="bg-primary text-white"><h3>&ensp;@Localizer["TittleAuthorizationWindow"]</h3></div>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=643233883076793&autoLogAppEvents=1"></script>

<div class="validation" asp-validation-summary="All"> </div>
<form method="post" asp-controller="Account" asp-action="Login" class="px-2">

    <div class="form-group">
        <span asp-validation-for="Login"></span>
        <label for="Login">@Localizer["FormLoginName"]</label>
        <input class="form-control" asp-for="Login" />
    </div>
    <div class="form-group">
        <span asp-validation-for="Password"></span>
        <label for="Password">@Localizer["FormLoginPassword"]</label>
        <input type="password" class="form-control" asp-for="Password" />
    </div>
    <button type="submit" class="btn btn-primary">@Localizer["FormLoginOk"]</button>
    <div>
        <a asp-action="Create">@Localizer["CreateAccount"]</a>
    </div>

    <div class="fb-login-button" data-width="" data-size="medium" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false"></div>
</form>


