@model IEnumerable<Exercise>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            Это Строка №1 Колонка Номер№1
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            Это Строка №2 Колонка Номер№1-4
        </div>
        <div class="col-4">
            Это Строка №2 Колонка Номер№5-8
        </div>
        <div class="col-4">
            Это Строка №2 Колонка Номер№9-12
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-4">
                @item.Id
            </div>
            <div class="col-4">
                @item.Name
            </div>
            <div class="col-4">
                @item.Description
            </div>
        </div>
    }

</div>

