<div class="bg-primary text-white"><h1>Errors</h1></div>
<div class="validation" asp-validation-summary="All"> </div>
<a asp-action="Index" asp-controller="Home" class="btn btn-danger" >Back to main menu</a>